
body{
    background-image: url("imagens/Elevador.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas: 
    'titulo formulario'
    'titulo fotmulario';
    align-items: center;


}



.animated-word {
	font-family: Helvetica;
	letter-spacing: 0.4em;
	font-weight: 60;
	font-size: 50px;
	color: #ffffff;
    margin-left: 50px;
    grid-area: titulo;
    
}

.animated-word:hover {
	color: rgb(239, 255, 14);
  
}

.formulario{
     margin-top: 15px; 
    grid-area: formulario;
}


form{   
    font-family: Helvetica;
    padding-left: 20px;
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.651);
    font-size: 25px;
    width: 20rem;
    height: 33rem;
    display: inline-block;
    
}

.labels{
    margin-top:  25px;
    font-size: 15px;
}

.labells{
    margin-top: -20px;
}


.formulario_enunciado{
    margin-top: 10px;
    font-size: 15px;
    
}



.check{
    float: left;
    margin-top: -10px;

}

.formulario_check{
    font-size: 15px;
    margin-top: 45px;

}


.formdados{
    position: absolute;
    border: none;
    border-radius: 3px;
    height: 19px;
    width: 280px;
    font-size: 15px;
   
}

.formdados:hover{
    height: 22px;
    width: 282px;
}

.seleção:hover{
    height: 24px;
    width: 282px;
}





.formulario_rotulo{
    font-size: 15px;
    top: 0px;
}

.seleção{
    position: absolute;
    height: 23px;
    width: 280px;
    font-size: px;
    border: none;
    border-radius: 3px;
    height: 23px;
}



button{
    width: 120px;
    height: 28px;
    margin: 10px;
    margin-top: 30px;
} 


@media (max-width: 655px){   
    body{
        display: grid;
        grid-template-columns: 0;
        grid-template-areas: 
        'formulario'
        'titulo';
        margin-left: 80px;


    }

 
    

}

@media (max-width: 376px){   
    body{
        display: grid;
        grid-template-columns: 0;
        grid-template-areas: 
        'formulario'
        'titulo';
        margin-left: 20px;


    }

    .animated-word{
    }
 
    

}