html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url("imagens/Elevador.jpg");
    background-repeat: no-repeat;
    background-size: cover; 

}



.animated-word {

	font-family: Helvetica;
	letter-spacing: 0.4em;
	font-weight: 60;
	font-size: 60px;
	color: #ffffff;
    cursor: pointer;
    float: left;

}

.animated-word:hover {
	color: rgb(239, 255, 14);
  
}

.formulario{

    float: right;
    justify-content: center;
    left: 20rem;
    margin-top: 15px;
    display: inline-flex
   
}


form{   
    font-family: Helvetica;
    padding-left: 20px;
    border: none;
    border-radius: 8px;
    color: rgb(255, 254, 254);
    background-color: rgba(0, 0, 0, 0.575);
    font-size: 25px;
    width: 20rem;
    height: 33rem;
    display: inline-block;
    
}

.labels{
    margin-top:  25px;
    font-size: 15px;
}

.labells{
    margin-top: -20px;
}


.formulario_enunciado{
    margin-top: 10px;
    font-size: 15px;
    
}



.check{
    float: left;
    margin-top: -10px;
}

.formulario_check{
    font-size: 15px;
    margin-top: 45px;

}


.formdados{
    position: absolute;
    border: none;
    border-radius: 3px;
    height: 19px;
    width: 280px;
    font-size: 15px;
   
}

.formdados:hover{
    height: 22px;
    width: 282px;
}

.seleção:hover{
    height: 24px;
    width: 282px;
}





.formulario_rotulo{
    font-size: 15px;
    top: 0px;
}

.seleção{
    position: absolute;
    height: 23px;
    width: 280px;
    font-size: px;
    border: none;
    border-radius: 3px;
    height: 23px;
}



button{
    width: 120px;
    height: 28px;
    margin: 10px;
} 
