body{
    background-image: url("imagens/Elevador.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    margin: 0%;
    padding: 0%;
    position: relative;
    max-width: 320px;
    max-height: 400px;
}



.animated-word {
    top: 200px;
    left: 280px;
    position: relative;
    right: 600px;
	font-family: Helvetica;
	letter-spacing: 0.4em;
	font-weight: 60;
	font-size: 60px;
	color: #ffffff;
    cursor: pointer;
  
}

.animated-word:hover {
	color: rgb(239, 255, 14);
  
}



form{   
    top: -5px;
    position: absolute;
    font-family: Helvetica;
      padding-left: 20px;
    border: none;
    border-radius: 8px;
    left: 870px;
    color: rgb(255, 254, 254);
    background-color: rgba(0, 0, 0, 0.575);
    font-size: 25px;
    width: 20rem;
    height: 530px; 
    
}

.labels{
    margin-top:  25px;
    font-size: 15px;
}


.formulario_enunciado{
    
    font-size: 15px;
    
}

.check{
    float: left;

}

.formulario_check{
    font-size: 15px;
}


.formdados{
    position: absolute;
    border: none;
    border-radius: 3px;
    height: 19px;
    width: 280px;
    font-size: 15px;
    margin: 0px;
}

.formdados:hover{
    height: 22px;
    width: 282px;
}

.seleção:hover{
    height: 24px;
    width: 282px;
}





.formulario_rotulo{
    font-size: 15px;
    top: 0px;
}

.seleção{
    position: absolute;
    height: 23px;
    width: 280px;
    font-size: px;
    border: none;
    border-radius: 3px;
    height: 23px;
}

.button{
    position: absolute;
    float: left;
    margin: 20px;
    left: 180px;
    margin-top: 60px;
    
}

.button1{
    position: absolute;
    float: left;
    margin: 20px;
    left: 10px;
    margin-top: 60px;
}    

button{
    width: 120px;
    height: 28px;
}
